
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{

	color: #fff ;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 3px;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
	margin: 0;
	padding: 0;
	font-family: 'Shadows Into Light', cursive;
	 background-image:url("images/bokeh-2152298.jpg");
	 background-repeat:repeat;
	 

}
/*---c'est le header----*/

.grid{

	display: grid;
	grid-column-gap:9px;
	grid-template-columns: 1fr;
}

.block_image{
	width: 100%;

	/*height: 300px;*/
}
.block img{
	width: 100%;
	height: auto;



}

h1,h2, ul{
	text-align: center;
	margin: 8px;
	padding: 2px;
	font-size: xx-large;


}


	p{
		text-align: center;
		/*height: 34px;*/
		width: auto;
		font-size: x-large;
	}





header{
    text-align: center;
}
 .logo{

        height: 99px;
		width: 103px;


	}
.nav_block
{

display: grid;
grid-template-columns: 1fr;
}

.block_images{
	text-align: center;
}

.block_images img{
	display: inline-block;
	width: 50px; 

}
.block_images img:hover{

	transform: scale(2);
}




.nav_block{


/*padding:100px;*/
list-style: none;
color: white;
background-color: #191309;
text-transform: capitalize;
line-height: 50px;
}
	
.nav_block a{
	text-decoration: none;
}

  .nav_item a {
  display: block;
 width:98%;
height:100%;
  }
.nav_item a:hover{
 color: #525252;
background-color: white;

}




@media only screen and (min-width:600px){
	body {

    width: 1000px;
    margin: 0 auto;
	}
.grid{
		grid-template-columns: 1fr 1fr;
	}

.nav_block{
		grid-template-columns: 1fr 1fr 1fr;
		
	}
}

aside{

	display: inline-block;
}

}


